PORT=8080
NODE_ENV=development

NFTFI_URL=https://app.nftfi.com
NFTFI_STATIC_LOGO_URL=https://images.ctfassets.net/21yktilggb3f/26onzdPADuD5Z14Qv4mJPa/291ab56f6ab05dbcd9c9a78e5601f6fa/NFTfi_wordmark.png
NFTFI_STATIC_WALLET_URL=https://images.ctfassets.net/21yktilggb3f/34x2RHOD3ldDiwQflGaMQH/b37df1a5292b070d91c8d0a9ed147561/wallet_start_icon.png
NFTFI_STATIC_TWITTER_URL=https://images.ctfassets.net/21yktilggb3f/4duqrec1wVoibx8NgsmArW/c49c55eefab745b3060ce3e86a5f8fba/_2x_x-icon.png
NFTFI_STATIC_DISCORD_URL=https://images.ctfassets.net/21yktilggb3f/5wVJogjyvXmB5Qt9zGFNoc/be165b05d767214574476cbfacdda2b0/_2x_discord-icon.png

POSTGRES_URI=postgres://root:admin1234@postgres:5432/nftfi
POSTGRES_DEBUG=false

REDIS_URI=redis://redis:6379/
RABBITMQ_URL=amqp://rabbitmq:5672/

MAILER_TEMPLATES_PATH=components/services/notifications/templates
MAILER_FROM=info@nftfi.com
MAILER_SENDGRID_API_KEY=<secret>
MAILER_MAILHOG_HOST=docker.for.mac.host.internal
MAILER_MAILHOG_PORT=1025

DISCORD_BOT_TOKEN=<secret>
DISCORD_BOT_CHANNEL=
