PORT=8080
NODE_ENV=development

JWT_SECRET=<jwt-secret>

POSTGRES_URI=postgres://root:admin1234@postgres:5432/nftfi
POSTGRES_DEBUG=false

REDIS_URI=redis://redis:6379/

ETHEREUM_PROVIDER_URL=<secret>

CHAINALYSIS_API_URL=https://public.chainalysis.com/api/v1
CHAINALYSIS_API_KEY=<secret>
