PORT=8080
NODE_ENV=development

ETHEREUM_PROVIDER_URL=<secret>

BASE_DIR=/usr/src/app/tmp

POSTGRES_URI=postgres://root:admin1234@postgres:5432/nftfi
POSTGRES_DEBUG=false

GCLOUD_PROJECT_ID=nftfi-v2
ASSETS_BUCKET=gs://<bucket>

ALCHEMY_API_URL=https://eth-mainnet.g.alchemy.com
ALCHEMY_API_KEY=<secret>

OPENSEA_API_URL=https://api.opensea.io
OPENSEA_API_KEY=<secret>

REDIS_URI=redis://redis:6379/
RABBITMQ_URL=amqp://rabbitmq:5672/

NPF_API_URL=https://nftpf-api-v0.p.rapidapi.com/
NPF_API_KEY=<secret>
NPF_HISTORICAL_ENABLED=false

WETH_ADDRESS=0x7b79995e5f793A07Bc00c21412e50Ecae098E7f9
DAI_ADDRESS=0x53844f9577c2334e541aec7df7174ece5df1fcf0
USDC_ADDRESS=0x1c7D4B196Cb0C7B01d743Fbc6116a902379C7238
USDC_AAVE_ADDRESS=0x94a9D9AC8a22534E3FaCa9F4e7F2E2cf85d5E4C8
